
.flip-card-front {
    background: url(images/coral.png);
    background-position: left top;
    background-repeat: repeat;
    z-index: 1;
  }
  
.flip-card-back {
    color: #000;
    background: url(images/old-paper-border.svg) no-repeat center;
    background-color: #DAF7A6;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    z-index: 2;
}
