body {
  margin: 5px;
  background-color: #034f84;
  color: #fff;
  font-family: "Comic Sans MS", sans-serif;
}

/* nav bar*/

.navbar {
  overflow: hidden;
  /* background-color: #034f84; */
  position: fixed;
  top: 0;
  width: 100%;
  padding-bottom: 10px;
}

.navbar a {
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: rgba(31, 206, 212, 0.301);
  color: #fff;
}

.active {
  background: rgba(31, 206, 212, 0.301);
  color: #fff;
}

/* cards */

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(91px, 1fr));
  grid-gap: 10px;
  clear: both;
}

.box {
  border-radius: 25px;
  border-radius: 5px;
  font-size: 150%;
}

.flip-card {
  border-radius: 25px;
  background-color: transparent;
  /* width: 120px; */
  height: 105px;
  perspective: 1000px;
}

.flip-card-inner {
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flipped {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  border-radius: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

/* controls */

#score-container {
  font-size: 22px;
  margin: 0 auto;
  width: 22%;
}

#game-controls {
  float: right;
  margin-top: 5px;
  margin-bottom: 16px;
  margin-left: 1em;
  margin-right: 1em;
}

.flip-card-btn {
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #000000;
  background-color: #fefbd8;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px #999;
}

.flip-card-btn:hover {
  background-color: #92a8d1;
}

.flip-card-btn:active {
  background-color: #92a8d1;
  box-shadow: 0 5px #999;
  transform: translateY(4px);
}

/*------------------------------------*\
	$IPHONE
\*------------------------------------*/
/* @media screen and (max-device-width: 480px){
  body{
      -webkit-text-size-adjust:none;
      font-family:Helvetica, Arial, Verdana, sans-serif;
      padding:5px;
  }
} */

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  body {
    margin: 10px;
  }

  #score-container {
    font-size: 18px;
    float: left;
    width: 25%;
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  body {
    margin: 5px;
  }

  #score-container {
    font-size: 12px;
    float: left;
    width: 27%;
  }
}